[submodule "detectron2"]
	path = detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "scenegraph_benchmark/Scene-Graph-Benchmark.pytorch"]
	path = scenegraph_benchmark/Scene-Graph-Benchmark.pytorch
	url = https://github.com/zzjun725/Scene-Graph-Benchmark.pytorch.git
