__pycache__/
checkpoints/
results/
configs/
figures/
detectron2/
RelTR/
progress/
myenv/
*.png
openai_api_key.txt
*.o
**/apex/
**/cocoapi/
runs/
openai_key.txt
openai_key*
triplets/*
**/openai*
scenegraph_benchmark/scenegraph_benchmark_ebm/